NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_ENGINE_URL=http://localhost:3000
NEXT_PUBLIC_ENTITY_REGISTRY_ADDRESS=
NEXT_PUBLIC_ATTESTATION_ADDRESS=
NEXT_PUBLIC_SIM_SOURCE=